
.container_div{
    background-color: #B69D74;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_leftside{
    height: 100vh;
    min-width: 100%;
    background-image: url('../../assets/shopping.jpeg');
    background-size: cover;
    background-position: 100% 100%;
    object-fit: cover;
}

.login_leftside{
    background-color: #F4F5EF;
    height: 100vh;
    min-width: 100%;
}

.login_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
    width: 100%;
    margin-top: 10vh;
}

.login_logo{
   height: 100px;
   width: 300px; 
   margin: 50px;
}
.login_form{
    min-width: 60%;
    background-color: #1F2839;
    padding: 30px;
    padding-top: auto !important;
    border-radius: 8px;
}

.login_form_group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.login_label{
    width: 100%;
    margin-top: 10px;
    font-size: large;
    color: #F4F5EF;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login_input{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px;
    padding-left: 20px;
}

.login_button{
    height: 50px;
    width: 100px;
    float: right;
    border-radius: 8px;
    background-color: #B69D74;
    color: #1F2839;
    border: none;
    font-size: large;
    margin-top: 20px;
    margin-right: -10px;
    margin-bottom: 0px;
}

.login_password_alert{
    text-align: left;
    color: red;
    margin: 5px;
}