
.users_box{
    height: 500px;
    width: 95%;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #F4F5EF;
    box-shadow: 0px 4px 50px rgba(232, 232, 232, 0.8) !important;
    border-radius: 8px;
    padding: 30px;
    padding-left: 20px;
}

.users_header{
    color: #1F2839;
    margin: 20px;
    margin-left: 0px;
    left: 0px;
    margin-top: 10px;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px #1f28395b solid;
    padding-bottom: 20px;
    min-width: 100%;
    font-weight: 400;
}

.users_chart{
    padding-top: 40px;
}