
.sales_report_box{
    height: auto;
    /* width: 100%; */
    /* width: auto; */
    margin: 10px;
    margin-top: 50px;
    /* margin-right: -15px; */
    background-color: #F4F5EF;
    box-shadow: 0px 4px 50px rgba(232, 232, 232, 0.8) !important;
    border-radius: 8px;
    padding: 30px;
    /* overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center; */
}

.sales_report_header{
    color: #1F2839;
    margin: 20px;
    margin-left: 0px;
    left: 0px;
    margin-top: 10px;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px #1f28395b solid;
    padding-bottom: 20px;
    min-width: 100%;
    font-weight: 400;
}